<% title 'Questions' %>
<%= render 'layouts/header' %>

<div class="container">
    <h1 class="text-center"><%= @zone.name %></h1>
    <span class="pull-right">Lives left: <%= @progress.lives %></span>

</div>

<div class="container">
    <%= form_for(:question, remote: true) do |f| %>
    <div class="panel panel-default">
        <div class="panel-heading"><%= @question.question %></div>
            <div class="panel-body">
                <div class = "radio">
                    <label>
                    <input type = "radio" name = "questionOptions" id = "optionsRadios1" value = "a" > <%= @question.choice_A %>
                    </label>
                </div>
                <div class = "radio">
                    <label>
                    <input type = "radio" name = "questionOptions" id = "optionsRadios2" value = "b" > <%= @question.choice_B %>
                    </label>
                </div>
                <div class = "radio">
                    <label>
                    <input type = "radio" name = "questionOptions" id = "optionsRadios3" value = "c" > <%= @question.choice_C %>
                    </label>
                </div>
                <div class = "radio">
                    <label>
                    <input type = "radio" name = "questionOptions" id = "optionsRadios4" value = "d" > <%= @question.choice_D %>
                    </label>
                </div>
            </div>
        </div>
        <button id="question-submit-btn" data-questionid="<%= @question.id %>" data-level="<%= @level %>" data-zoneid="<%= @zone.id %>" type="button" class="btn btn-info">Submit</button>
        <span id="flash-message" style="display: none"></span>
        <% if not @next_question.nil? %>
        <a href="<%= question_path(:zone_id=>@zone.id, :question_id=>@next_question.question_id, :level=>@next_level) %>" data-method="get">
            <button id="" data-questionid="<%= @question.id %>" type="button" class="btn btn-info pull-right">Next</button>
        </a>
        <% end %>
    <% end %>
</div>

