<% title @topic.name.upcase %>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="<%= towers_path %>">Towers</a></li>
  <li><a href="<%= tower_path(@tower.id) %>"><%= @tower.name.capitalize %></a></li>
  <li class="active"><%= @topic.name.capitalize %></li>
</ol>

<div class="container">
	<h1 class="text-center"><%= @topic.name.upcase %></h1>
	<span class="pull-right">Level: <%= @progress.level %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lives: <%= @progress.lives %></span>
</div>

<div class="container">
	<% @zones.each_with_index  do |zone, count| %>
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div data-toggle="collapse" href="#collapse_<%=zone.difficulty %>">
						<h4 class="panel-title zone-panel">
							Zone of <%= zone.name.capitalize %>
						</h4>
					</div>
				</div>
				<div id="collapse_<%=zone.difficulty %>" class="panel-collapse collapse">
					<ul class="list-group">	
						<% for question in @questionsArray[count] %>
						<a class="no-underline" <% if @overAllCount == @progress.level + 1 && @progress.lives > 0 %> href="<%= question_path(:zone_id=>zone.id, :question_id=>question.id, :level=>@overAllCount) %>" data-method="get" <% else %> style="color: #ff6961" <% end %>>
							<li class="list-group-item text-center">Level <%= @overAllCount %></li>
							<% @overAllCount += 1 %>
						</a>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	<% end %>
</div>


